<span class='contact'>
  <li class='contact-name'><%= contact.name %></li>
  <li class='contact-frequency'><%= contact.frequency %></li>
  <li class='contact-last-conversation'>
    <%= "#{contact.last_conversation_days_ago} days ago" %>
  </li>
</span>

<%= render 'contacts/record_conversation.html.erb', contact: contact %>
